# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.sw*
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db
*.sqlite3

# Logs:
*.log
./media/
./static/
.DS_Store
__pycache__

#
custom_settings.py