


<link href="{{ STATIC_URL }}core/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="{{ STATIC_URL }}core/css/bootstrap-theme.css" rel="stylesheet" type="text/css" media="all">
<link href="{{ STATIC_URL }}core/css/theme.css" rel="stylesheet" type="text/css" media="all">


<!-- <link href="{{ STATIC_URL }}core/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{ STATIC_URL }}core/css/custom_style.css" rel="stylesheet" type="text/css" media="all" /> -->